.project .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px;
}

.project .content .workBx {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.project .content .workBx .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}

.project .content .workBx:hover .imgBx {
  transform: translateY(-100%);
}

.project .content .workBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .content .workBx .textBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}

.dark .project .content .workBx .textBx {
  background: #444;
}

.project .content .workBx:hover .textBx {
  transform: translateY(0);
}

.project .content .workBx .textBx h3 {
  color: #fff;
  font-size: 1em;
}

.button-style-back,
.button-style-next {
  width: 100px;
}

.button-footer-section {
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 922px) {
  .project .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .project .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
