.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.contact .contactForm {
  position: relative;
  width: 100%;
  max-width: 700px;
}

.contact .contactForm .row1 {
  width: 100%;
  margin-top: 40px;
  display: flex;
}

.contact .contactForm .row1 {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: var(--black);
  font-size: 16px;
}

.contact .contactForm .row1 .info {
  margin-left: 16px;
}

.contact .contactForm .row1 .info h6 {
  color: cornflowerblue;
  font-weight: bolder;
}

.contact .contactForm .row1 .info span {
  font-size: medium;
  color: var(--black);
}

.contact .contactForm .row1 .info span a {
  text-decoration: none;
  color: var(--black);
}

@media (max-width: 767px) {
  .contact {
    margin-bottom: 100px;
  }

  .contact .contactForm .row1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
